@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F1923;
    color: #fff;
    font-family: Orbitron, sans-serif;
    overflow-x: hidden;
}

.banner img {
    width: 100%;
}

.banner .text {
    position: absolute;
    top: 180px;
    left: 50px;
}

.banner .text h1 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
}

.banner .text .cta {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 19px 32px;
    color: #fff;
    background-color: #0F1923;
    outline: #fff solid 1px;
    outline-offset: 3px;
    font-size: 16px;
    font-weight: bold;
}

.banner .text .cta:hover {
    color: #0F1923;
    background-color: #fff;
}

main {
    padding-top: 50px;
}

.title {
    width: 100%;
    text-align: center;
}

.title::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    background: #E1173F;
    margin: 15px auto;
}

/* Table */
.table {
    margin: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.table table {
    overflow-x: scroll;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #E1173F;
    border-style: solid;
    color: #fff;
}

.table table td, .table table th {
    border-width: 2px;
    border-color: #E1173F;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

.table table td span {
    color: #E1173F;
    margin-right: 5px;
    font-weight: 600;
}

.table table td.team {
    text-align: start;
}


.table table thead {
    background-color: #0F1923;
    color: #E1173F;
}

/* Matches */
.matches {
    margin: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.table a:hover {
    color: #fff;
    background-color: #e1173f75;
}

.matches table {
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #E1173F;
    border-style: solid;
    color: #fff;
}

.matches table td, .matches table th {
    border-width: 2px;
    border-color: #E1173F;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

.matches table td span {
    color: #E1173F;
    margin-left: 5px;
    font-weight: 600;
}

.matches table td.team {
    text-align: start;
}

.matches table td.winner {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #e1173f31;
}

.matches table td.winner::before {
    content: "";
    background-image: url("../img/icons/winner.svg");
    width: 30px;
    height: 30px;
    position: relative;
}

.matches table thead {
    background-color: #0F1923;
    color: #E1173F;
}

.matches small {
    font-size: 12px;
    margin: 20px 0;
    display: block;
    text-align: center;
    width: 100%;
    font-family: "Julius Sans One", sans-serif;
}

.matches a {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 19px 32px;
    color: #0F1923;
    background-color: #fff;
    outline: #fff solid 1px;
    outline-offset: 3px;
    font-size: 16px;
    font-weight: bold;
}

.matches a:hover {
    color: #fff;
    background-color: #e1173f75;
}

/* Update */
.update {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.update small {
    font-size: 12px;
    margin: 20px 0;
    display: block;
    text-align: center;
    width: 100%;
    font-family: "Julius Sans One", sans-serif;
}

.update a {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 19px 32px;
    color: #0F1923;
    background-color: #fff;
    outline: #fff solid 1px;
    outline-offset: 3px;
    font-size: 16px;
    font-weight: bold;
}

.update a:hover {
    color: #fff;
    background-color: #e1173f75;
}

/* Rules */
.rules .card {
    width: fit-content;
    margin: 50px auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #E1173F;
    padding: 40px;
    font-family: "Julius Sans One", sans-serif;
}

.rules p {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
}

.rules span {
    color: #E1173F;
    font-weight: 600;
}

.rules ul li::marker {
    color: #E1173F;
}

.rules a {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 19px 32px;
    color: #0F1923;
    background-color: #fff;
    outline: #fff solid 1px;
    outline-offset: 3px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.rules a:hover {
    color: #fff;
    background-color: #e1173f75;
}

/* Players */
.players {
    margin: 0 20px;
    margin-bottom: 100px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    border: 1px solid #E1173F;
    padding: 20px 0;
}

.players .list {
    margin: 25px 0;
    width: fit-content;
}

.players .list ul {
    list-style: unset;
    margin-left: 40px;
}

.players .list .role {
    color: #E1173F;
    margin-bottom: 20px;
    font-size: bold;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.players .list .role img {
    margin-right: 10px;
}

.players .list ul {
    list-style: unset;
    margin-left: 30px;
}

.players .list ul li {
    margin-bottom: 10px
}

.players .list ul li::marker {
    color: #E1173F;
}

/* Teams */
.teams {
    margin: 0 20px;
    margin-bottom: 100px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    border: 1px solid #E1173F;
    padding: 20px 0;
}

.teams .list {
    margin: 25px 0;
    width: fit-content;
}

.teams .list ul {
    list-style: unset;
    margin-left: 40px;
}

.teams .list h3 {
    color: #E1173F;
    margin-bottom: 20px;
    text-align: start;
    width: 100%;
}

.teams .list ul {
    list-style: unset;
    margin-left: 20px;
}

.teams .list ul li {
    margin-bottom: 10px
}

.teams .list ul li::marker {
    color: #E1173F;
}

@media only screen and (max-width: 1024px) {
    .banner .text {
        display: none;
    }

    main {
        overflow: hidden;
        padding-top: 20px;
    }

    .update {
        margin-bottom: 50px;
    }

    /* Tables */
    .table, .matches {
        overflow-x: auto;
        margin: 0 20px;
        padding-bottom: 20px;
        justify-content: start;
    }

    .table table td, .table table th {
        min-width: 150px;
    }

    .matches table td, .matches table th {
        min-width: 210px;
    }

    /* Lists */
    .players, .teams {
        margin-bottom: 50px;
    }

    .players .list .role,
    .teams .list .role {
        font-size: 15px;
    }

    .players .list ul,
    .teams .list ul {
        font-size: 14px;
    }

    .teams {
        padding: 20px;
        justify-content: space-between;
    }

    .teams .list {
        width: 150px;
    }
}